.intro {
	
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;

	@include background-image-urls('/img/landings/intro.jpg');
	
	.btn {
		.feather { 
			position: relative;
			bottom: 1px;
			width: 23px;
			height: 23px;
		}
	}

}
