.portfolio {
 
    .card {
        
        &:hover:before {
            opacity: 0.45;
        }

        .card-header {
            position: absolute;
            top: 0;
            left: 0;
            border: 0;
            background-color: transparent;
        }
        
    }

}

.portfolio-technologies {
    img {
        max-width: inherit;     
    }
}