/*
$theme-colors: (
    "primary": #ff3a52,
    "dark": #000000
);
*/

// Spacing
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  // customs...
  6: $spacer * 6,
  7: $spacer * 9,
  8: $spacer * 12,
) !default;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    85: 85%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

@import 'node_modules/aos/src/sass/aos.scss';
@import 'node_modules/html5-device-mockups/dist/device-mockups.min';
@import "node_modules/bootstrap/scss/bootstrap";

html, body {
	overflow-x: hidden;
}

.navbar-spacer {
	padding-top: 89px;
}

.text-muted {
	font-size: 21px;
	color: #869ab8 !important;
}

.navbar {
    font-size: 17px;
    font-weight: 600;

    padding: 20px 0;

	-webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
}

.navbar > .container {
    padding: 0 20px;
}

.navbar .navbar-toggler {
	border: none;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23FFFFFF' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-dark.fixed-top > .container {
    position: relative;
}

.navbar-dark.fixed-top > .container::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-dark .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: rgba(255, 255, 255, 0.6);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
	color: rgba(108, 138, 236, 1);
}

.navbar-light {
	background-color: #fff;
	border-bottom: 1px solid #dee2e6;
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(0, 0, 0, 0.8);
}

.navbar-light .navbar-nav .nav-item.active .nav-link {
    color: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
	color: rgba(108, 138, 236, 1);
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar-dark .navbar-brand {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.navbar-brand {
    display: inline-block;
    padding: 0;
}

.navbar-brand-img {
    position: relative;
    top: 4px;
    width: auto;
    height: 48px;
}

.intro {
    background: url('/img/landings/intro.jpg') center no-repeat;
    background-size: cover;
}

.intro .btn .feather {
	width: 22px;
	height: 22px;
}

.vanity-metrics {
	background-color: #f9fbfd;
}

.vanity-metrics h2 {
    color: #6c8aec;
}

.opacity-80 {
	opacity: 0.8;
}

.overlay {
    position: relative;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
}

.overlay-black::before {
    background-color: #161c2d;
}

.overlay-dark::before {
    background-color: #1b2a4e;
}

.overlay-40::before {
    opacity: 0.4;
}

.overlay-50::before {
    opacity: 0.5;
}

.overlay-60::before {
    opacity: 0.6;
}

.overlay-70::before {
    opacity: .7;
}

.overlay-80::before {
    opacity: .8;
}

.lead {
	font-size: 30px;
	font-weight: 600; 
}

@media(min-width:768px) {
	.lead {
		font-size: 50px; 
	}
}

.feather {
	width: 24px;
	height: 24px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

.btn-circle {
	width:50px;
	height:50px;
	margin-top:15px;
	line-height:32px;
	text-align:center;
	border:2px solid #fff;
	border-radius:100%!important;
	font-size:22px;
	color:#fff;
	background:0 0;
	-webkit-transition:background .3s ease-in-out;
	-moz-transition:background .3s ease-in-out;
	transition:background .3s ease-in-out;
}

.btn-circle:hover,.btn-circle:focus,.btn-circle:active,.btn-circle:visited {
	outline:0;
	color:#fff;
	background:rgba(255,255,255,.1);
	box-shadow: none;
}

.btn-circle .animated {
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:1s;
	-moz-transition-property:-moz-transform;
	-moz-transition-duration:1s;
}

.btn-circle:hover .animated {
	-webkit-animation-name:pulse;
	-moz-animation-name:pulse;
	-webkit-animation-duration:1.5s;
	-moz-animation-duration:1.5s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-moz-animation-timing-function:linear;
}

@-webkit-keyframes pulse {
	0% {
			-webkit-transform:scale(1);
			transform:scale(1);
	}
	50% {
			-webkit-transform:scale(1.3);
			transform:scale(1.3);
	}
	100% {
			-webkit-transform:scale(1);
			transform:scale(1);
	}
}

@-moz-keyframes pulse {
	0% {
			-moz-transform:scale(1);
			transform:scale(1);
	}
	50% {
			-moz-transform:scale(1.2);
			transform:scale(1.2);
	}
	100% {
			-moz-transform:scale(1);
			transform:scale(1);
	}
}

.customers {
	background-color: #f9fbfd;
}

.customers img {
	max-width: inherit;
}

.customers img:hover {
	max-width: inherit;
	filter: none;
}

.testimonials {
	background-color: #f9fbfd;
}

.testimonials .row {
	margin-left: 0px;
	margin-right: 0px;
}

.testimonials blockquote p {
	font-style: italic;
}

.testimonials blockquote footer::before {
    content: "";
}

.testimonials blockquote footer {
    display: block;
    font-size: 18px;
}

.testimonials blockquote footer a {
	color: #869ab8;
}

.testimonials blockquote .avatar {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
}

.testimonials blockquote .avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.start-with-us {
    background: url('/img/landings/start-with-us.jpg') center no-repeat;
    background-size: cover;
}

.start-with-us.kamet {
    background: url('/img/achievements/kamet/footer-cover.jpg') center no-repeat;
    background-size: cover;
}

.start-with-us.sacem {
    background: url('/img/achievements/sacem/footer-cover.jpg') center no-repeat;
    background-size: cover;
}

.not-found {
    background: url('/img/landings/not-found.jpg') center no-repeat;
    background-size: cover;
}

.success-stories .row .col {
	padding: 5px;
}

.success-stories .card .card-header {
	position: absolute; 
	top: 0; 
	left: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}

.success-stories .card .card-title {
	padding-top: 50px;
}

.success-stories .card:hover:before {
	opacity: 0.25;
}

.technologies img {
	max-width: inherit;
}

.badge-rounded-circle {
	height: 35px;
	width: 35px;
	border-radius: 20px;
}

.badge-rounded-circle svg {
	width: 20px;
	margin-top: 2px;
}

.key-points p {
	display: inline-block;
	margin-top: 5px;
}

.key-points {
	margin-bottom: 30px;
}

.badge-success-soft {
    background-color:rgba(66,186,150,.1);
    color: #42ba96;
}

.contact .img-cover {
    width: 100vw;
    height: auto;
    margin-left: calc(50% - 50vw);
}

.contact .bg-cover {
    background: no-repeat center center/cover;
}

.contact .vw-50 {
    width: 50vw!important;
}

.contact h2 {
	font-size: 16px;
    color: #506690!important;
}

.contact a {
	font-size: 17px;
	color:rgba(108, 138, 236, 1) !important;
}

.contact .hr-sm {
    width: 60px;
	border-top-width: 2px;
	border-color: #d9e2ef;
}

.dark-footer {
	background-color: #1b2a4e;
	color: #506690;
	border-top: 1px solid white;
}

.dark-footer .footer-brand {
	filter: brightness(0) invert(1);
	width: auto;
	height: 30px;
}

.dark-footer .list-social-icon {
    width: 20px;
	height: 20px;
	color: #869AB8;
}

.dark-footer .text-muted a {
	color: #869ab8
}