<section class="contact">
      
    <!-- Content -->
    <div class="container d-flex flex-column">
      <div class="row align-items-center justify-content-between no-gutters min-vh-100">
        <div class="col-12 col-md-5 align-self-stretch">
  
          <!-- Image (mobile) -->
          <img src="/img/contact/contact-us-mobile.jpg" class="d-md-none img-cover" alt="...">
  
          <!-- Image -->
          <div class="d-none d-md-block vw-50 h-100 float-right bg-cover" style="background-image: url('/img/contact/contact-us.jpg');"></div>
  
        </div>
        <div class="col-12 col-md-6 text-center py-4">
          
          <!-- Heading -->
          <h1 class="">
            Let's make a new sucess story together
          </h1>
  
          <!-- Text -->
          <p class="h4 text-muted pb-4">
            We will be delighted to help you for your next product
          </p>
  
          <!-- Divider -->
          <hr class="hr-sm my-5">
  
          <div class="text-center">
            <h2 class="text-uppercase mb-1">
              Email us
            </h2>
    
            <div class="mb-5 mb-md-0">
              <a href="mailto:hi@dailybrain.fr" class="h4 font-weight-bold text-primary">
                hi@dailybrain.fr
              </a>
            </div>
          </div>
  
          <!-- Divider -->
          <hr class="hr-sm my-5">
                              
          <div class="text-center">
            <h2 class="text-uppercase mb-1">
              Message us
            </h2>
    
            <div class="mb-5 mb-md-0">
              <a onclick="FB.CustomerChat.showDialog();" class="h4 font-weight-bold text-primary">
                Start a chat!
              </a>
            </div>
          </div>

        </div>
      </div> <!-- / .row -->
    </div>
  </section>
  