<!-- carousel sm -->
<section class="customers py-5 border-bottom d-block d-md-none">
  <div class="container">
      <div id="customer-carousel-sm" class="carousel carousel-dark slide" data-ride="carousel" data-interval="2000" data-slide="true">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row align-items-center justify-content-center">
              <div class="col-5">
                <img src="/img/customers/quare.png" width="110" height="46" class="mx-auto d-block" alt="Quare" />
              </div>
              <div class="col-5">
                <img src="/img/customers/sacem.png" width="110" height="48" class="mx-auto d-block" alt="Sacem" />
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-center justify-content-center">
              <div class="col-5">
                <img src="/img/customers/fcms.png" width="110" height="34" class="mx-auto d-block" alt="Figaro Classifieds" />
              </div>
              <div class="col-5">
                <img src="/img/customers/kamet.png" width="110" height="26" class="mx-auto d-block" alt="Kamet Ventures" />
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-center justify-content-center">
              <div class="col-5">
                <img src="/img/customers/laposte.png" width="110" height="35" class="mx-auto d-block" alt="La Poste" />
              </div>
              <div class="col-5">
                <img src="/img/customers/fixter.png" width="110" height="29" class="mx-auto d-block" alt="Fixter" />
              </div>
            </div>
          </div>  
          <div class="carousel-item">
            <div class="row align-items-center justify-content-center">
              <div class="col-5">
                <img src="/img/customers/ingenico.png" width="110" height="38" class="mx-auto d-block" alt="Ingenico" />
              </div>
              <div class="col-5">
                <img src="/img/customers/padoa.png" width="110" height="27" class="mx-auto d-block" alt="Padoa" />
              </div>
            </div>
          </div>  
          <div class="carousel-item">
            <div class="row align-items-center justify-content-center">
              <div class="col-5">
                <img src="/img/customers/cadremploi.png" width="110" height="11" class="mx-auto d-block" alt="Cadremploi" />
              </div>
              <div class="col-5">
                <img src="/img/customers/leggett.png" width="110" height="14" class="mx-auto d-block" alt="Leggett" />
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#customer-carousel-sm" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#customer-carousel-sm" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
  </div>
</section>

<!-- carousel md d-none d-md-block d-lg-none -->
<section class="customers py-4 border-bottom d-none d-md-block d-xl-none">
  <div class="container">
      <div id="customer-carousel-md" class="carousel carousel-dark slide" data-ride="carousel" data-interval="3000" data-slide="true">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row align-items-center justify-content-center">
              <div class="col-3">
                <img src="/img/customers/sacem.png" width="125" height="54" class="mx-auto d-block" alt="Sacem" />
              </div>
              <div class="col-3">
                <img src="/img/customers/quare.png" width="125" height="51" class="mx-auto d-block" alt="Quare" />
              </div>
              <div class="col-3">
                <img src="/img/customers/padoa.png" width="125" height="31" class="mx-auto d-block" alt="Padoa" />
              </div>
              <div class="col-3">
                <img src="/img/customers/ingenico.png" width="125" height="43" class="mx-auto d-block" alt="Ingenico" />
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-center justify-content-center">
              <div class="col-3">
                <img src="/img/customers/laposte.png" width="125" height="40" class="mx-auto d-block" alt="La Poste" />
              </div>
              <div class="col-3">
                <img src="/img/customers/kamet.png" width="125" height="30" class="mx-auto d-block" alt="Kamet Ventures" />
              </div>
              <div class="col-3">
                <img src="/img/customers/fixter.png" width="125" height="33" class="mx-auto d-block" alt="Fixter" />
              </div>
              <div class="col-3">
                <img src="/img/customers/fcms.png" width="125" height="39" class="mx-auto d-block" alt="Figaro Classifieds" />
              </div>
            </div>
          </div>                  
        </div>
        <a class="carousel-control-prev" href="#customer-carousel-md" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#customer-carousel-md" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
  </div>
</section>

<!-- carousel xl -->
<section class="customers py-4 border-bottom d-none d-xl-block">
  <div class="container">
      <div id="customer-carousel-xl" class="carousel carousel-dark slide" data-ride="carousel" data-interval="3000" data-slide="true">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row align-items-center justify-content-center">
              <div class="col-2">
                <img src="/img/customers/sacem.png" width="160" height="69" class="mx-auto d-block" alt="Sacem" />
              </div>
              <div class="col-2">
                <img src="/img/customers/fixter.png" width="160" height="42" class="mx-auto d-block" alt="Fixter" />
              </div>
              <div class="col-2">
                <img src="/img/customers/kamet.png" width="160" height="38" class="mx-auto d-block" alt="Kamet Ventures" />
              </div>
              <div class="col-2">
                <img src="/img/customers/padoa.png" width="160" height="39" class="mx-auto d-block" alt="Padoa" />
              </div>              
              <div class="col-2">
                <img src="/img/customers/laposte.png" width="160" height="51" class="mx-auto d-block" alt="La Poste" />
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-center justify-content-center">
              <div class="col-2">
                <img src="/img/customers/fcms.png" width="160" height="50" class="mx-auto d-block" alt="Figaro Classifieds" />
              </div>
              <div class="col-2">
                <img src="/img/customers/leggett.png" width="160" height="21" class="mx-auto d-block" alt="Leggett" />
              </div>
              <div class="col-2">
                <img src="/img/customers/quare.png" width="160" height="66" class="mx-auto d-block" alt="Quare" />
              </div>
              <div class="col-2">
                <img src="/img/customers/cadremploi.png" width="160" height="16" class="mx-auto d-block" alt="Cadremploi" />
              </div>
              <div class="col-2">
                <img src="/img/customers/ingenico.png" width="160" height="55" class="mx-auto d-block" alt="Ingenico" />
              </div>
            </div>
          </div>          
        </div>
        <a class="carousel-control-prev" href="#customer-carousel-xl" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#customer-carousel-xl" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
  </div>
</section>