<section class="intro overlay overlay-dark overlay-40">
  
    <div class="container d-flex flex-column">

        <div class="row align-items-center justify-content-center min-vh-100">
            
            <div class="col-12 mt-auto text-center">
    
                <!-- Heading -->
                <div class="h2 font-weight-bold text-white">
                    Delivering awesome products with<br />
                    <div class="typed-strings">
                    <p>Lean Startup</p>
                    <p>Software Craftsmanship</p>
                    <p>Continuous Delivery</p>
                    <p>DevOps principles</p>
                    </div>
                    <span class="typed"></span>
                </div>
        
            </div>
    
            <!-- Button -->
            <div class="col-12 text-center">
                <a href="#skip-intro" aria-label="skip intro" class="btn btn-circle smooth-scroll">
                    <svg class="feather animated">
                        <use xlink:href="/img/sprites/feather-sprite.svg#chevrons-down"/>
                    </svg>
                </a>
            </div>
            
        </div>
        
    </div>
  
</section>