<section class="lifestyle py-5 border-bottom">
  
    <div class="container" data-aos="fade-right">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-center py-4">
          
          <!-- Heading -->
          <h1 class="">
            Small team. Big hearts.
          </h1>
  
          <!-- Text -->
          <p class="h4 text-muted pb-4">
            Our focus is to make people work in the best conditions, including remotely.
          </p>
  
        </div>
      </div>
    </div>
  
    <div class="container d-none d-md-block" data-aos="fade-left">
      <div class="row">
        <div class="col-6 p-1">
          <img src="/img/lifestyle/wework-fox.jpg" alt="" class="img-fluid rounded-lg" />
        </div>
        <div class="col-3 p-1">
          <div class="pb-2">
            <img src="/img/lifestyle/dailybrain-deauville.jpg" alt="" class="img-fluid rounded-lg" />
          </div>
          <div class="">
            <img src="/img/lifestyle/startup-books.jpg" alt="" class="img-fluid rounded-lg" />
          </div>
        </div>
        <div class="col-3 p-1">
          <img src="/img/lifestyle/nao.jpg" 
                alt=""
                class="img-fluid rounded-lg" 
                style="min-height: 100%; width: auto; object-fit: cover;" 
                />
        </div>
      </div>
    </div>

    <div class="container d-block d-md-none" data-aos="fade-left">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="row g-2">
            <div class="col-6">
              <div style="padding-bottom: 0.5em;">
                <img src="/img/lifestyle/nao.jpg" alt="" class="img-fluid rounded-lg" />
              </div>
              <div style="padding-bottom: 0.5em;">
                <img src="/img/lifestyle/elastic-training-castle.jpg" alt="" class="img-fluid rounded-lg" />
              </div>
              <div>
                <img src="/img/lifestyle/wework-fox.jpg" alt="" class="img-fluid rounded-lg" />  
              </div>
            </div>
            <div class="col-6">
              <div style="padding-bottom: 0.5em;">
                <img src="/img/lifestyle/faros-beach.jpg" alt="" class="img-fluid rounded-lg" />
              </div>
              <div style="padding-bottom: 0.5em;">
                <img src="/img/lifestyle/startup-books.jpg" alt="" class="img-fluid rounded-lg" />
              </div>
              <div>
                <img src="/img/lifestyle/dailybrain-deauville-portrait.jpg" alt="" class="img-fluid rounded-lg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>