<section class="portfolio py-5 border-bottom">

    <div class="container" data-aos="fade-right">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-center py-4">
          
          <!-- Heading -->
          <h1 class="">
            We already have some success.
          </h1>
  
          <!-- Text -->
          <p class="h4 text-muted pb-4">
            Here is our most exciting success stories over the years.
          </p>
        </div>
      </div>
    </div>
  
    <div class="container" data-aos="fade-left">
      <div class="row">     
        <div class="col-12 col-md-6 mb-2">
          <div class="card overlay overlay-dark overlay-70">
            <a href="/portfolio/kamet">
              <img src="/img/portfolio/covers/kamet.jpg" class="card-img" alt="" />
              <div class="card-img-overlay d-flex flex-column justify-content-center text-white text-center">
                <div class="card-header m-2 m-md-3 p-0">
                  <img src="/img/portfolio/logos/kamet.png" style="height: 36px;" alt="Kamet Ventures" />
                </div>
                <h2 class="h4 card-title m-3">Coaching startups between Paris &amp; London</h2>
                <p class="card-text">
                  <span class="badge rounded-pill bg-light text-dark font-monospace">Lean startup</span>
                  <span class="badge rounded-pill bg-light text-dark font-monospace">TDD</span>
                  <span class="badge rounded-pill bg-light text-dark font-monospace">CI / CD</span>
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-2">
          <div class="card overlay overlay-dark overlay-70">
            <a href="/portfolio/sacem">
              <img src="/img/portfolio/covers/sacem.jpg" class="card-img" alt="" />
              <div class="card-img-overlay d-flex flex-column justify-content-center text-white text-center">
                <div class="card-header m-2 m-md-3 p-0">
                  <img src="/img/portfolio/logos/sacem.png" style="height: 47px;" alt="Sacem" />
                </div>
                <h2 class="h4 card-title m-3">Online music copyright management platform</h2>
                <p class="card-text">
                  <span class="badge rounded-pill bg-light text-dark font-monospace">Spring</span>
                  <span class="badge rounded-pill bg-light text-dark font-monospace">Elastic</span>
                  <span class="badge rounded-pill bg-light text-dark font-monospace">Spark</span>
                  <span class="badge rounded-pill bg-light text-dark font-monospace">React</span>
                </p>
              </div>
            </a>
          </div>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>