<section class="lifestyle py-5 border-bottom">
  
  <div class="container" data-aos="flip-up">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 text-center py-4">
        
        <!-- Heading -->
        <h1 class="">
          Using these technologies.
        </h1>

        <!-- Text -->
        <p class="h4 text-muted mb-5">
          We shipped them in production, not just a quickstart @ home.
        </p>

      </div>
    </div>
  </div>
  
  <div class="container" data-aos="flip-down">
    <div class="row justify-content-center text-center">
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="50">
        <img src="/img/stack/java.svg" alt="Java" title="Java" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="100">
        <img src="/img/stack/scala.svg" alt="Scala" title="Scala" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="150">
        <img src="/img/stack/golang.svg" alt="Golang" title="Golang" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="200">
        <img src="/img/stack/js.svg" alt="Javascript" title="Javascript" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="250">
        <img src="/img/stack/html.svg" alt="HTML" title="HTML" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="300">
        <img src="/img/stack/css.svg" alt="CSS" title="CSS" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="350">
        <img src="/img/stack/spring.svg" alt="Spring" title="Spring" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="400">
        <img src="/img/stack/play.svg" alt="Play" title="Play" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="450">
        <img src="/img/stack/akka.svg" alt="Akka" title="Akka" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="500">
        <img src="/img/stack/nodejs.svg" alt="Node.js" title="Node.js" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="550">
        <img src="/img/stack/react.svg" alt="React" title="React" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="600">
        <img src="/img/stack/vuejs.svg" alt="Vue.js" title="Vue.js" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="650">
        <img src="/img/stack/postgresql.svg" alt="" title="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="700">
        <img src="/img/stack/redis.svg" alt="Redis" title="Redis" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="750">
        <img src="/img/stack/mongodb.svg" alt="MongoDB" title="MongoDB" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="800">
        <img src="/img/stack/elastic.svg" alt="Elastic" title="Elastic" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="850">
        <img src="/img/stack/kafka.svg" alt="Kafka" title="Kafka" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="900">
        <img src="/img/stack/cassandra.svg" alt="Cassandra" title="Cassandra" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="950">
        <img src="/img/stack/aws.svg" alt="Amazon Web Services" title="Amazon Web Services" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="1000">
        <img src="/img/stack/gcp.svg" alt="Google Cloud Platform" title="Google Cloud Platform" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="1050">
        <img src="/img/stack/kubernetes.svg" alt="Kubernetes" title="Kubernetes" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="1100">
        <img src="/img/stack/docker.svg" alt="Docker" title="Docker" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="1150">
        <img src="/img/stack/ansible.svg" alt="Ansible" title="Ansible" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="1200">
        <img src="/img/stack/terraform.svg" alt="Terraform" title="Terraform" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="1250">
        <img src="/img/stack/jenkins.svg" alt="Jenkins" title="Jenkins" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="1300">
        <img src="/img/stack/gocd.svg" alt="GoCD" title="GoCD" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="1350">
        <img src="/img/stack/concourse.svg" alt="Concourse" title="Concourse" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="1400">
        <img src="/img/stack/github-actions.svg" alt="Github Actions" title="Github Actions" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="1450">
        <img src="/img/stack/codefresh.svg" alt="Codefresh" title="Codefresh" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5" data-aos="fade-left" data-aos-delay="1500">
        <img src="/img/stack/travis-ci.svg" alt=" Travis CI" title="Travis CI" height="30" />
      </div>
    </div>
  </div>

</section>