<section class="lifestyle py-5 border-bottom">
  
  <div class="container" data-aos="flip-up">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 text-center py-4">
        
        <!-- Heading -->
        <h1 class="">
          Using these technologies.
        </h1>

        <!-- Text -->
        <p class="h4 text-muted mb-5">
          We shipped them in production, not just a quickstart @ home.
        </p>

      </div>
    </div>
  </div>
  
  <div class="container" data-aos="flip-down">
    <div class="row justify-content-center text-center">
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/java.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/scala.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/golang.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/js.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/html.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/css.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/spring.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/play.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/akka.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/nodejs.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/react.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/vuejs.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/postgresql.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/redis.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/mongodb.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/elastic.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/cassandra.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/kafka.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/aws.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/gcp.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/kubernetes.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/docker.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/ansible.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/terraform.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/gocd.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/jenkins.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/concourse.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/codefresh.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/travis-ci.svg" alt="" height="30" />
      </div>
      <div class="col-4 col-md-2 mb-5">
        <img src="/img/stack/github-actions.svg" alt="" height="30" />
      </div>
    </div>
  </div>

</section>