<section class="testimonials py-5 border-bottom">

    <div class="container mb-4" data-aos="flip-up">
        
        <div class="row justify-content-center">
    
            <div class="col-9">
                <div id="carousel-testimonials" class="carousel carousel-dark slide pb-5" data-ride="carousel" data-interval="5000" data-slide="true">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-testimonials" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-testimonials" data-slide-to="2" class=""></li>
                        <!--<li data-target="#carousel-testimonials" data-slide-to="3" class=""></li>-->
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <figure class="mx-auto text-center mb-4">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                                    <path fill="#bdc5d1" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                                        C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                                        c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                                        C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z">
                                    </path>
                                </svg>
                            </figure>
                            <div class="text-center mb-4">
                                <blockquote>
                                    Vincent is a talented engineer and experienced open source developer with a passion for doing accessibility work that helps people with disabilities. 
                                    odt2daisy has been downloaded many thousands of times, and is in use in DAISY and Braille productions centers across Europe and the world.
                                    I very much enjoyed working with Vincent, and would welcome the opportunity to do so again in the future.
                                </blockquote>
                            </div>
                            <div class="d-flex justify-content-center align-items-center w-lg-50 mx-auto">
                                <div class="avatar">
                                    <img src="/img/testimonials/pkorn.jpg" width="60" height="60" alt="" />
                                </div>
                                <div class="ml-3">
                                    <h2 class="h4 mb-0">Peter Korn</h2>
                                    <small class="text-muted">Principal Engineer at Sun Microsystems</small>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <figure class="mx-auto text-center mb-4">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                                    <path fill="#bdc5d1" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                                        C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                                        c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                                        C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z">
                                    </path>
                                </svg>
                            </figure>
                            <div class="text-center mb-4">
                                <blockquote>
                                    It was a real pleasure to work with Vincent. 
                                    He's not only a talented developer but also a very professional and responsible person.
                                    He's got a wide knowledge over his development skills.
                                    He can act as a very positive team player and is able to bring his teammates further.
                                    It's a person that every Agile team should wish to have on its side.
                                </blockquote>
                            </div> 
                            <div class="d-flex justify-content-center align-items-center w-lg-50 mx-auto">
                                <div class="avatar">
                                    <img src="/img/testimonials/bdour.jpg" width="60" height="60" alt="" />
                                </div>
                                <div class="ml-3">
                                    <h2 class="h4 mb-0">Bertrand Dour</h2>
                                    <small class="text-muted">Founder at 7 Flows</small>
                                </div>
                            </div>                                                       
                        </div>
                        <!--
                        <div class="carousel-item">
                            <figure class="mx-auto text-center mb-4">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                                    <path fill="#bdc5d1" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                                        C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                                        c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                                        C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z">
                                    </path>
                                </svg>
                            </figure>
                            <div class="text-center mb-4">
                                <blockquote>
                                    Vincent est un excellent technicien, qui a une connaissance très complète de l'écosystème OpenSource. 
                                    Il n'hésite jamais à mettre les mains dans le code quand il le faut, 
                                    et possède des compétences dans une large palette technique, 
                                    allant du Front au DevOps, en passant par le Cloud. 
                                    Travailler sur les projets à ses cotés a été un plaisir. 
                                    De plus, il aime partager sa passion, et est un contributeur actif à la communauté, à travers ses nombreux articles et conférences.
                                </blockquote>
                            </div> 
                            <div class="d-flex justify-content-center align-items-center w-lg-50 mx-auto">
                                <div class="avatar">
                                    <img src="/img/testimonials/plopez.jpg" width="60" height="60" alt="" />
                                </div>
                                <div class="ml-3">
                                    <h2 class="h4 mb-0">Pablo Lopez</h2>
                                    <small class="text-muted">CTO at Xebia</small>
                                </div>
                            </div>                                                       
                        </div>
                        -->
                        <div class="carousel-item">
                            <figure class="mx-auto text-center mb-4">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                                    <path fill="#bdc5d1" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                                        C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                                        c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                                        C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z">
                                    </path>
                                </svg>
                            </figure>
                            <div class="text-center mb-4">
                                <blockquote>
                                    I had the opportunity to work with Vincent on a challenging project at SACEM. 
                                    Vincent proved to be a talented engineer, 
                                    he was a great team player, 
                                    his experience and technical skills helped deliver fast and quality results. 
                                    It was a great experience working with him.
                                </blockquote>
                            </div> 
                            <div class="d-flex justify-content-center align-items-center w-lg-50 mx-auto">
                                <div class="avatar">
                                    <img src="/img/testimonials/wfathallah.jpg" width="60" height="60" alt="" />
                                </div>
                                <div class="ml-3">
                                    <h2 class="h4 mb-0">Wajdi Fathallah</h2>
                                    <small class="text-muted">Data &amp; Cloud Architect at Valuraise</small>
                                </div>
                            </div>                                                       
                        </div>
                    </div>
                </div>
    
            </div>
    
        </div>
    
    </div>

</section>