<section class="portfolio-header py-5 border-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 text-center">
            
                <!-- Heading -->
                <h1 class="display-1">
                    @@title
                </h1>
        
                <!-- Text -->
                <p class="text-muted pb-4">
                    @@subtitle
                </p>
            </div>
        </div>
    </div>
</section>
