  <footer class="dark-footer pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
      
          <!-- Brand -->
          <img src="/img/logos/brand.svg" alt="dailybrain" class="footer-brand img-fluid mb-1">

          <!-- Text -->
          <p class="mb-3">
            Delivering awesome products.
          </p>

          <!-- Social -->
          <ul class="list-unstyled list-inline list-social mb-5 mb-md-0">
            <li class="list-inline-item list-social-item mr-3">
              <a href="https://www.instagram.com/dailybrainfr" title="instagram" class="text-decoration-none">
                <svg class="feather list-social-icon">
                    <use xlink:href="/img/sprites/feather-sprite.svg#instagram"/>
                </svg>
              </a>
            </li>
            <li class="list-inline-item list-social-item mr-3">
              <a href="https://www.facebook.com/dailybrain" title="facebook" class="text-decoration-none">
                <svg class="feather list-social-icon">
                    <use xlink:href="/img/sprites/feather-sprite.svg#facebook"/>
                </svg>
              </a>
            </li>
            <li class="list-inline-item list-social-item mr-3">
              <a href="https://www.twitter.com/dailybrainfr" title="twitter" class="text-decoration-none">
                <svg class="feather list-social-icon">
                    <use xlink:href="/img/sprites/feather-sprite.svg#twitter"/>
                </svg>
              </a>
            </li>
            <li class="list-inline-item list-social-item mr-3">
                <a href="https://www.linkedin.com/company/dailybrain" title="linkedin" class="text-decoration-none">
                  <svg class="feather list-social-icon">
                      <use xlink:href="/img/sprites/feather-sprite.svg#linkedin"/>
                  </svg>
                </a>
            </li>
            <li class="list-inline-item list-social-item mr-3">
                <a href="https://dailybrain.slack.com" title="slack" class="text-decoration-none">
                  <svg class="feather list-social-icon">
                      <use xlink:href="/img/sprites/feather-sprite.svg#slack"/>
                  </svg>
                </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </footer>

<script src="/js/all.js"></script>
</body>
</html>
