<section class="start-with-us @@addClasses pt-6 pb-6 pt-md-7 pb-md-7 overlay overlay-black overlay-50">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-center">
          
          <!-- Heading -->
          <h1 class="text-white">
            Start a lean product.
          </h1>
  
          <!-- Text -->
          <p class="text-white opacity-80 mb-4 mb-md-5">
            We will help you to avoid lengthy, tunnel effect &amp; wasteful projects.
          </p>
  
          <!-- Button -->
          <a href="/contact" class="btn btn-lg btn-primary">
            Start with us
            <svg class="feather">
              <use xlink:href="/img/sprites/feather-sprite.svg#arrow-right"/>
            </svg>
          </a>
  
        </div>
      </div>
    </div>
</section>