footer {
	
	background-color: #23355f;
	border-top: 1px solid #fff;
	
	.footer-brand {
		height: 30px;
		width: auto;
    	filter: brightness(0) invert(1);
	}

	p {
		color: rgb(143, 160, 185);
	}

	.list-social-icon {
		width: 20px;
		height: 20px;
		color: #869AB8;
	}

}